@import 'node_modules/bulma/sass/utilities/initial-variables.sass';
@import 'node_modules/bulma/sass/utilities/mixins.sass';

$mobile: 427px;
$navbar-breakpoint: $mobile;
$card-color: white;
$card-background-color: $grey-dark;